



 <mat-form-field>
    <mat-select placeholder="Filters" [(ngModel)]="selectedValue" name="food"  (selectionChange)="filterChange()" >
      <mat-option *ngFor="let filter of filters" [value]="filter.name">
        {{filter.name}}
      </mat-option>
    </mat-select>
  </mat-form-field>


<div class="mat-elevation-z8">
  <table mat-table #table [dataSource]="dataSource">
   
 <ng-container matColumnDef="id">
      <th mat-header-cell *matHeaderCellDef> Id. </th>
      <td mat-cell *matCellDef="let element"> {{element.id}} </td>
      <td mat-footer-cell *matFooterCellDef> Total Cost : </td>
      
  </ng-container>

    <ng-container matColumnDef="name">
      <th mat-header-cell *matHeaderCellDef> Name </th>
      <td mat-cell *matCellDef="let element"> {{element.name}} </td>
      
      <td mat-footer-cell *matFooterCellDef> {{getTotalCost() | currency:'GBP'}}m </td>
    </ng-container>

     <ng-container matColumnDef="position">
      <th mat-header-cell *matHeaderCellDef> Position </th>
      <td mat-cell *matCellDef="let element"> {{element.position}} </td>
      
      <td mat-footer-cell *matFooterCellDef>Highest Paid Player:   </td>
    </ng-container>

     <ng-container matColumnDef="rating">
      <th mat-header-cell *matHeaderCellDef> Rating </th>
      <td mat-cell *matCellDef="let element">   
    <ng-template ngFor let-item [ngForOf]="createRange(element.rating)" >
      <span  class="{{ element.rating | ratingPipe}}" >star </span>

    </ng-template></td>
    <td mat-footer-cell *matFooterCellDef>  {{getHighestPaid()}} </td>
    
    </ng-container>
<ng-container matColumnDef="value">
    <th mat-header-cell *matHeaderCellDef> Player's Cost </th>
    <td mat-cell *matCellDef="let element"> {{element.value | currency:'GBP'}}m </td>
    <td mat-footer-cell *matFooterCellDef>   </td>
    
  </ng-container>
    
    
    <ng-container matColumnDef="select">
    
       <th mat-header-cell *matHeaderCellDef> Select </th>
     

    <td mat-cell *matCellDef="let row">
     <button mat-button (click)="OnSelect(row)">View More!</button>
    </td>
    <td mat-footer-cell *matFooterCellDef> </td>
    
  </ng-container>

    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
    <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
    <tr mat-footer-row *matFooterRowDef="displayedColumns"></tr>
 
  </table>
  <mat-paginator [pageSizeOptions]="[5, 10, 20]" showFirstLastButtons></mat-paginator>
</div>





